<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="author" content="Глеб Павлюк">
		<meta name="description" content="Текстовая страница">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
		<style>
		body {
			background:#03fc8c;
			}
		</style>
		<title>Apple AirPods Max</title>
	</head>
	<body>
		<h1>Наушники Apple AirPods Max</h1><br>
		<img src="https://img.computerunivers.net/images/400x400/908225852F4412BD9CF94E0DB4C95BCD.jpg">
		<h2>Apple AirPods Max – это наушники нового поколения, которые позволяют наслаждаться качественным звуком и комфортом использования.</h2>
		<p>Стоимость 58 400 р.</p>
		<form action="" method="post">	
			<label for="User_mail">Введите ваш email для оставления заявки, с вами свяжутся:</label>
			<input type="email" placeholder="Введите сюда" name="User_mail"><br><br>
			<label>Выберите подходящее для вас время доставки:</label>
			<input type="date" name="User_date">

		</form><br>
	</body>
</html>